p
{
    font-family: helvetica, sans-serif;
    max-width: 800px;
}
h1 a
{
    color:black;
    text-decoration:none;
}
.announcement
{
    text-align: justify;
    background-color: rgb(240,230,140);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
}

div.section
{
    background-color: rgb(240,240,240);
    margin: 2px;
    max-width: 780px:
}
